<div class="header-wrapper"> 
  <h3>NY Times</h3>
  <div class="menu-btns">
    <a  routerLink="/topnews/nytimes/news" mat-raised-button color="primary">
      <mat-icon>home</mat-icon>
      Top News
    </a>
    <a  routerLink="/search/nytimes/articles" mat-raised-button color="primary">
      <mat-icon>search</mat-icon>
      Search For Articles
    </a>
    <button (click)="onLogout()" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>logout</mat-icon>
    </button>
  </div>    
</div>

