<div class="container">
  <div class="row">
    <div class="col-12">
      <app-filters (searchSubmits)="searchArticles($event)"></app-filters>
    </div>
  </div>
  <div class="col-12" *ngIf="dataSource && dataSource.length > 0">
    <div class="row">
      <div *ngFor="let article of dataSource" class="col-12 col-md-4 mb-3">
        <app-cards [story]="formatCardData(article)"></app-cards>
      </div>
    </div>

    <mat-paginator
      #paginator
      [length]="length"
      [pageSize]="pageSize"
      [pageSizeOptions]="[5, 10, 25, 100]"
      [pageIndex]="pageIndex"
      [showFirstLastButtons]="true"
      aria-label="Select page"
      (page)="getServerData($event)"
    >
    </mat-paginator>
  </div>
  <div class="col-12 text-center no-search-results" *ngIf="dataSource && dataSource.length==0">
      Your search word did not match any articles, Please try again with another word.
  </div>
</div>
