<div mat-dialog-content class="nyt-card-details">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        {{ story?.title }}
      </mat-card-title>
      <mat-card-subtitle>{{ story?.section }}</mat-card-subtitle>
    </mat-card-header>
    <img
      mat-card-image
      src="{{ story?.imageUrl ? story?.imageUrl : '' }}"
      width="200px"
      height="250px"
      alt=""
    />
    <mat-card-content>
      <p>
        {{ story?.description }}
      </p>

      <div class="row">
        <div class="col-3" *ngIf="story.created_date.length > 0">
          Created Date: {{ story?.created_date | date }}
        </div>
        <div class="col-3" *ngIf="story.updated_date.length > 0">
          Updated Date: {{ story?.updated_date | date }}
        </div>
        <div class="col-3" *ngIf="story.published_date.length > 0">
          Published Date: {{ story?.published_date | date }}
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
<div mat-dialog-actions class="card-details-action">
  <button mat-raised-button color="warn" (click)="closeDialog()">Close</button>
</div>
